header{
    position: sticky;
    top: 0;
}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin: 5px;
    margin-top: 5px;
    height: 30px;
    background-color:rgb(241, 206, 8);
}

#background-header{
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 400px;
    text-shadow: 3px 2px 2px black;
    background-color:rgb(245, 201, 6);
    background-image: url(../asset/Logo.jpg);
    background-size: contain;
    background-position: center;
    
}

ul{
    display: flex;
    list-style-type: none;
    margin:0;
    padding: 0;
    justify-content: center;
}

nav>ul>li>a{
    color: white;
    
}

body{
    background-color: rgb(235, 234, 234);
    font-family: "Playwrite DE Grund", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}
h1 {
    color: white;
    padding: 20px;
    margin: 10px;
}

h2{
    /* background-color: rgb(185, 6, 6); */
    color: black;
    text-align: center;
    padding:20px;
    margin :10px;

}


div p{
    text-align: justify;
}
#container {
    border: 3px solid rgb(245, 201, 6);
    margin-bottom: 20px;
    padding: 10px; 
    text-align: center;
   
}
#container > img {
    overflow: hidden;
    transition: transform 0.3s;
    
}
#container > img:hover {
    transform: scale(1.1);
}
.tny-prdk {
    background-color: white;
    color : black;
    border : 2px solid rgb(245, 201, 6);
    border-radius: 5px;
    }
    
.tny-prdk:hover {
        background-color: rgb(245, 201, 6);
        color : white;
    }

#container h3 {
        text-align: center;
}

.best-seller {
    display: flex;
    padding: 20px;
    margin: 10px;
    gap: 10px;
}

article{
    background-image: url(../asset/Logo.jpg);
    display: grid;
    grid-template-columns:repeat(12, 1fr);
    grid-template-rows:minmax(100px, auto);
    padding: 20px;
    margin: 10px;
}

.gridclass:nth-child(1) {
    grid-column: span 4;
    grid-row: span 3;
}
.gridclass:nth-child(2) {
    grid-column-start:5;
    grid-column-end: 8;
}

.gridclass:nth-child(3) {
    grid-column-start:9;
    grid-column-end: 12;
}

.gridclass:nth-child(4){
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: auto;
    grid-row-end: auto;
}

.gridclass:nth-child(5){
    grid-column-start: 9;
    grid-column-end: 12;
    grid-row-start: auto;
    grid-row-end: auto;
}
.gridclass>img{
    height: 30%;
    width: 30%;
}
article>div{
    margin-right: 10px;
    padding: 10px;
}
input[type='number']{
    width: 50px;
} 

footer{
    text-align: center;
}

@media screen and (max-width: 700px){

    .flex-header{
        width: auto;
    }
    .best-seller {
        display: flex;
        flex-direction:column;
        padding: 0;
        margin: 0;
    }
   

    textarea{
        width: 274px;
        height: 54px;
    
    }
    }

    
